{
  "openapi": "3.0.1",
  "info": {
    "title": "OptiPeople API",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.optipeople.dk"
    }
  ],
  "paths": {
    "/api/Account/GetByPage": {
      "get": {
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "config",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/IConfiguration"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "totalPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Orderby",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IsAscending",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/Account/GetAccountsWithFactoryAndMachines": {
      "get": {
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/Account/GetById": {
      "get": {
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/Account/GetAll": {
      "get": {
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/Account/GetFeatures": {
      "get": {
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/Account/GetFeaturesByFeatureRequest": {
      "get": {
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "requestType",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/AccountFeatureRequestType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/Account/UpdateFeatures": {
      "put": {
        "tags": [
          "Account"
        ],
        "requestBody": {
          "content": {
            "application/json;odata.metadata=minimal;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "application/json;odata.metadata=minimal": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "application/json;odata.metadata=full": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "application/json;odata.metadata=none": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "application/json;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "application/json;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "application/json;odata.metadata=full;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "application/json;odata.metadata=full;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "application/json;odata.metadata=none;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "application/json;odata.metadata=none;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "application/json;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "application/json;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "application/json;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "application/json;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "application/json;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "application/json;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "text/plain": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            },
            "text/csv": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeaturesUpdateViewModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/Account/GetCurrentAccount": {
      "get": {
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/Account/{accountId}/CreateADXDatabase": {
      "put": {
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/Account/GetAccountSettings": {
      "get": {
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/Account/RegisterAccount": {
      "post": {
        "tags": [
          "Account"
        ],
        "requestBody": {
          "content": {
            "application/json;odata.metadata=minimal;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=minimal": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=full": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=none": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=full;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=full;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=none;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=none;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "text/plain": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "text/csv": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/Account/RegisterNewAccount": {
      "post": {
        "tags": [
          "Account"
        ],
        "requestBody": {
          "content": {
            "application/json;odata.metadata=minimal;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=minimal": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=full": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=none": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=full;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=full;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=none;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=none;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "text/plain": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "text/csv": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/Account/UpdateAccount": {
      "put": {
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;odata.metadata=minimal;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=minimal": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=full": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=none": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=full;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=full;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=none;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.metadata=none;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "text/plain": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            },
            "text/csv": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntryViewModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/Account/DeleteById": {
      "delete": {
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/Account/GenerateAccountKey": {
      "get": {
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/Account/AccountAuthen": {
      "post": {
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "accountKey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/Account/GetTelemetryDedicatedDBSettings/{id}": {
      "get": {
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/Account/UpdateTelemetryDedicatedDBSettings/{id}": {
      "put": {
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;odata.metadata=minimal;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "application/json;odata.metadata=minimal": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "application/json;odata.metadata=full": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "application/json;odata.metadata=none": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "application/json;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "application/json;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "application/json;odata.metadata=full;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "application/json;odata.metadata=full;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "application/json;odata.metadata=none;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "application/json;odata.metadata=none;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "application/json;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "application/json;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "application/json;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "application/json;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "application/json;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "application/json;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "text/plain": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            },
            "text/csv": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryDedicatedDBSettingViewModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/Account/{id}/GetAppsSettings": {
      "get": {
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/Account/{id}/UpdateAppsSettings": {
      "put": {
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;odata.metadata=minimal;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "application/json;odata.metadata=minimal": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "application/json;odata.metadata=full": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "application/json;odata.metadata=none": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "application/json;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "application/json;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "application/json;odata.metadata=full;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "application/json;odata.metadata=full;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "application/json;odata.metadata=none;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "application/json;odata.metadata=none;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "application/json;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "application/json;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "application/json;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "application/json;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "application/json;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "application/json;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "text/plain": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            },
            "text/csv": {
              "schema": {
                "$ref": "#/components/schemas/AccountAppsSettingsViewModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/Account/{id}/GetMcps": {
      "get": {
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/Account/{id}/CreateMcp": {
      "post": {
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;odata.metadata=minimal;odata.streaming=true": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "application/json;odata.metadata=minimal": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "application/json;odata.metadata=full": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "application/json;odata.metadata=none": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "application/json;odata.streaming=true": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "application/json;odata.streaming=false": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "application/json;odata.metadata=full;IEEE754Compatible=false": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "application/json;odata.metadata=full;IEEE754Compatible=true": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "application/json;odata.metadata=none;IEEE754Compatible=false": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "application/json;odata.metadata=none;IEEE754Compatible=true": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "application/json;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "application/json;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "application/json;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "application/json;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "application/json;IEEE754Compatible=false": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "application/json;IEEE754Compatible=true": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "application/xml": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "text/plain": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "application/json-patch+json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            },
            "text/csv": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/JToken"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/Account/{id}/RevokeMcp/{mcpId}": {
      "delete": {
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "mcpId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/AccountSubscriptionType/GetAll": {
      "get": {
        "tags": [
          "AccountSubscriptionType"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/AlarmConfiguration/GetByMachineId": {
      "get": {
        "tags": [
          "AlarmConfiguration"
        ],
        "parameters": [
          {
            "name": "machineId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/AlarmConfiguration/Update": {
      "put": {
        "tags": [
          "AlarmConfiguration"
        ],
        "requestBody": {
          "content": {
            "application/json;odata.metadata=minimal;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "application/json;odata.metadata=minimal": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "application/json;odata.metadata=full": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "application/json;odata.metadata=none": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "application/json;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "application/json;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "application/json;odata.metadata=full;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "application/json;odata.metadata=full;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "application/json;odata.metadata=none;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "application/json;odata.metadata=none;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "application/json;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "application/json;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "application/json;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "application/json;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "application/json;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "application/json;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "text/plain": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            },
            "text/csv": {
              "schema": {
                "$ref": "#/components/schemas/AlarmConfigurationViewModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/APIUsage/GetAllExternalAPIUsage": {
      "get": {
        "tags": [
          "APIUsage"
        ],
        "parameters": [
          {
            "name": "StartDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "EndDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "config",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/IConfiguration"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "totalPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Orderby",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IsAscending",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/APIUsage/GetUsageForExternalApplication": {
      "get": {
        "tags": [
          "APIUsage"
        ],
        "parameters": [
          {
            "name": "externalApplicationId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/APIUsage/GetUsageForAccount": {
      "get": {
        "tags": [
          "APIUsage"
        ],
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/APIUsage/GetUsageDetailsForExternalApplication": {
      "get": {
        "tags": [
          "APIUsage"
        ],
        "parameters": [
          {
            "name": "externalApplicationId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/Application/GetApplicationContext": {
      "get": {
        "tags": [
          "Application"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/Audit/GetByPageV2": {
      "post": {
        "tags": [
          "Audit"
        ],
        "requestBody": {
          "content": {
            "application/json;odata.metadata=minimal;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/AuditListQuery"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/AuditListQuery"
              }
            },
            "application/json;odata.metadata=minimal": {
              "schema": {
                "$ref": "#/components/schemas/AuditListQuery"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/AuditListQuery"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/AuditListQuery"
              }
            },
            "application/json;odata.metadata=full": {
              "schema": {
                "$ref": "#/components/schemas/AuditListQuery"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/AuditListQuery"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/AuditListQuery"
              }
            },
            "application/json;odata.metadata=none": {
              "schema": {
                "$ref": "#/components/schemas/AuditListQuery"
              }
            },
            "application/json;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/AuditListQuery"
              }
            },
            "application/json;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/AuditListQuery"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditListQuery"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AuditListQuery"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AuditListQuery"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AuditListQuery"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AuditListQuery"
              }
            },
            "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AuditListQuery"
              }
            },
            "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AuditListQuery"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AuditListQuery"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AuditListQuery"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AuditListQuery"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AuditListQuery"
              }
            },
            "application/json;odata.metadata=full;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/AuditListQuery"
              }
            },
            "application/json;odata.metadata=full;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/AuditListQuery"
              }
            },
[...]
